.card{
    display: flex;
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    cursor: pointer;


}
.card:hover{
    transition: 0.6s ease-in-out;
    transform: scale(1.05);
}
.card img{
    width: 100px;
    align-self: center;

}

.description span{
    font-size: 13px;
    color: red;
    font-weight: bold;
}

@media screen and (max-width:500px) {
    .card{
        width: 150px;
        height: 200px;
    }
    .card img{
    width: 80px;
    align-self: center;

}
}

@media screen and (max-width:370px){
    .card{
        width: 120px;
        height: 190px;
        padding: 5px;
    }
}