.exam-setup{
    width: 100%;
    min-height:70vh;
    height: fit-content;
    transition: all 0.6s ease-in-out;
    animation: show-home 0.4s ease-in forwards;
    border-radius: 15px;
    margin: 20px auto;
   

}
.exam-setup .bg-img{
    background-image: url(../../../assets/images/examsetup.png);
    width: 500px;
    height: 250px;
    background-size: contain;
    margin: 280px 0 0 -110px;
}


@keyframes show-setup {
    0%{
        opacity: 0;
        transform: translateY(15%);
       
    }
    10%{
        opacity: 0;
        transform: translateY(0);
        transform: translateY(10%);
    }
    100%{
        transition: 0.7s;
        opacity: 1;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);


    }
}
@media screen and (max-width:500px) {
    .exam-setup{
        margin: 30px auto;
    }
    .exam-setup .bg-img{
        width: 300px;
        height: 200px;
        margin: 280px 0 0 -10px;
    }
}

.exam-setup .information{
    display: flex;
    flex-direction: column;
    height: 65vh;

}
.author-icon{
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
   
}


.information button:hover{
    transition: 0.6s;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
